<div style="width:180px;height:150px;" class="cmd cmd-widget #history# tooltips" data-type="info" data-subtype="string" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <!-- Fichiers Javascript -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
  <style type="text/css">
    #macarte{ height:130px; }
  </style>
  <div id="macarte">
    <!-- Ici s'affichera la carte -->
	</div>
  <!-- Fichiers Javascript -->
	<script type="text/javascript">
    jeedom.cmd.update['#id#'] = function(_options) {

      // Position GPS de la voiture
      hist = _options.display_value;    
      gps_pos = hist.split(',');
      var lat = gps_pos[0];
      var lon = gps_pos[1];
      var alt = gps_pos[2];
      //alert ("GPS:"+lat + "/" + lon);
      // Fonction d'initialisation de la carte
      function initMap() {
          // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
          carte = L.map('macarte').setView([lat, lon], 16);
          // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
          L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
              // Il est toujours bien de laisser le lien vers la source des données
              //attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
              attribution: 'OpenStreetMap',
              minZoom: 2,
              maxZoom: 20
          }).addTo(carte);
      }
      if (carte == null)
        initMap();
      if (marker != null)
        carte.removeLayer(marker);
      marker = L.marker([lat, lon]).addTo(carte);
    }
    var carte = null;
    var marker = null;
	  jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
  </script>

</div>
