<div class="cmd cmd-widget #history#" data-type="info" data-subtype="string" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
	<div class="state">
	</div>
	<script>
    jeedom.cmd.update['#id#'] = function(_options) { 
      img_path = '<img src="plugins/peugeotcars/ressources/' + _options.display_value + '.png" width="250" height="115"/>';
		  $('.cmd[data-cmd_id=#id#] .state').empty().append(img_path);
		}
		jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
	</script>

</div>