<div class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#" title="Valeur du #valueDate#, collectée le #collectDate#">
    <center>
      <div class="cmdName">#name_display#</div>
      <div class="content">
        <span style="font-size: 3.0em;" class="iconCmd#uid#"></span>
      </div>
    </center>
    <script>
        $('.iconCmd#uid#').empty();
        if ('#state#' == '1') {
            $('.iconCmd#uid#').append('<i class="icon jeedomapp-prise"></i>');
        } else {
            $('.iconCmd#uid#').append('<i class="icon jeedomapp-prise-off2"></i>');
        }
    </script>
</div>
