# Ignoring directories (Both the directory itself and its contents will be ignored.)
__pycache__/
.idea/

data/V*/
*.bak
*.zip
3rdparty/sample_lau.php
3rdparty/psa_jeedom_daemon/config.json
3rdparty/psa_jeedom_daemon/cars.json
3rdparty/psa_jeedom_daemon/otp.bin
3rdparty/psa_jeedom_daemon/*.log
3rdparty/psa_jeedom_daemon/pycharm_readme.txt


