# Ignoring directories (Both the directory itself and its contents will be ignored.)
__pycache__/
.idea/

data/V*/
*.bak
*.zip
*.db
*.log
*.ini
3rdparty/sample_lau.php
3rdparty/psa_jeedom_daemon/*.json
3rdparty/psa_jeedom_daemon/*.bin
3rdparty/psa_jeedom_daemon/*.log
3rdparty/psa_jeedom_daemon/*.apk
3rdparty/psa_jeedom_daemon/certs/
3rdparty/psa_jeedom_daemon/pycharm_readme.txt


